<div class="form-group col-sm-8">
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group col-sm-8">
  <%= f.label :description, 'Description' %>
  <%= f.text_area :description, cols: 30, class: 'form-control tinymce' %>
</div>

<div class="form-group col-sm-8">
  <%= f.submit "Save", class: 'btn btn-success' %>
</div>
<script>
   tinymce.init({
     selector: '.tinymce',
     height: 500,
     menubar: false,
     plugins: [
       'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
       'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
       'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
     ],
     toolbar: 'undo redo anchor | casechange blocks | bold italic backcolor | ' +
       'alignleft aligncenter alignright alignjustify | ' +
       'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
   });
 </script>
